@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --step--2: clamp(0.72rem, 0.5631rem + 0.6693vw, 1.04rem);
  --step--1: clamp(1.1rem, 0.7039rem + 0.8366vw, 1.25rem);
  --step-0: clamp(1.125rem, 0.8799rem + 1.0458vw, 1.35rem);
  --step-1: clamp(1.75rem, 1.0999rem + 1.3072vw, 2.0313rem);
  --step-2: clamp(1.7581rem, 1.3752rem + 1.634vw, 2.5394rem);
  --step-3: clamp(2.1975rem, 1.7189rem + 2.0418vw, 3.1738rem);
  --step-4: clamp(2.7469rem, 2.1485rem + 2.5529vw, 3.95rem);
  --step-5: clamp(3.4331rem, 2.685rem + 3.1922vw, 5.25rem);
  --step-6: clamp(4.2913rem, 3.3562rem + 3.9895vw, 6.1988rem);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition:
    background-color 0s 600000s,
    color 0s 600000s;
}

.balance-text {
  text-wrap: balance;
}

.card-shadow {
  box-shadow:
    inset 0 0.5px 2px #5d5d60,
    0 20px 35px -5px rgba(0, 0, 0, 0.2),
    0 10px 15px -5px rgba(0, 0, 0, 0.3);
}

.testimonial {
  box-shadow:
    inset 0 0.5px 2px #aaa7ae,
    0 20px 35px -5px rgba(0, 0, 0, 0.2),
    0 10px 15px -5px rgba(0, 0, 0, 0.3);
}

.testimonial-section--title {
  text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
}

h1 {
  font-size: var(--step-5);
  line-height: 1;
}

h2,
h3 {
  font-size: var(--step-4);
  line-height: 1;
}

h4,
.quote {
  font-size: var(--step-1);
  line-height: 1.15;
}

.call-to-action {
  font-size: var(--step-2);
  line-height: 1;
}

.sub-heading {
  font-size: var(--step-0);
  line-height: 1.4;
}

.sub-heading--small {
  font-size: var(--step--1);
  line-height: 1.4;
}

.scoller[data-animated="true"] .scroller__inner {
  animation: scroll 85s linear infinite;
  width: calc((350px * 28) + 28rem);
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc((-350px * 14) - 14rem));
  }
}
